@charset "utf-8";

body {
    overflow: auto;
    overflow-y: scroll;
    letter-spacing: 0;
    line-height: 1.5;
    font-size: 15px;
    color: #444;
    font-weight: 400;
    font-family: NanumBarunGothic,Dotum,'돋움',sans-serif;
}
.body-wrap {
    width: 100%;
    height: 100%;
    padding: 0;
}
/* 레이아웃 */
#header {
    width: 100%;
    height: 98px;
    background-color: rgba(0,0,0,.3);
    border-bottom: 1px solid rgba(255,255,255,.2);;
}




/* 헤더 영역 */
#header {
    position: relative;
    z-index: 100;
    width: 100%;
    min-width: 1100px;
    height: 91px;
    background: #fff;
    border-bottom: 1px solid #351f67;
}
#header.no-bg {
    background-color: rgba(0,0,0,.3);
    border-bottom: 1px solid rgba(255,255,255,.2);
}
#header.main-header {
    position: absolute;
    left: 0;
    right: inherit;
    top: 80px;
    width: 100%;
    z-index: 100;
}
#header.main-header.none-ad {
    top: 0;
}
#header .ci {
    position: absolute;
    left: 50%;
    top: 23px;
    width: 140px;
    height: 90px;
    margin: 0 0 0 -70px;
    padding: 0;
}
#header .ci a {
    display: block;
    width: 140px;
    height: 47px;
    margin: 0;
    padding: 0;
    font-size: 0;
    line-height: 0;
    background: url(https://img.megabox.co.kr/static/pc/images/common/ci/logo.png) center center no-repeat;
}
#header.no-bg .ci a {
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/ci/logo-white_new.png);
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: 400;
}
#header .util-area {
    position: relative;
    width: 1100px;
    margin: 0 auto;
    color: #666;
}
#header .util-area .left-link {
    position: absolute;
    top: 15px;
    left: 0;
    font-size: .8667em;
}

#header .util-area .left-link a {
    float: left;
    margin-right: 20px;
    vertical-align: top;
}
#header.no-bg .util-area a{
    color: #888;
}
#header .util-area .right-link {
    position: absolute;
    top: 15px;
    right: 0;
}

#header .util-area .right-link a {
    display: block;
    float: left;
    margin-left: 20px;
    vertical-align: top;
}

#header .util-area .right-link .before {
    font-size: .8667em;
}

#header .link-area {
    position: relative;
    width: 1100px;
    margin: 0 auto;
}

#header .link-area a {
    display: block;
    position: absolute;
    top: 42px;
    width: 36px;
    height: 36px;
    font-size: 0;
    line-height: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
}
#header.no-bg .link-area a.btn-layer-sitemap {
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-sitemap-white.png);
}
#header.no-bg .link-area a.btn-close-sitemap {
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/btn/btn-header-layer-close.png);
}

#header.no-bg .link-area a.btn-layer-search {
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-search-white.png);
}
#header .link-area a.btn-layer-search {
    left: 40px;
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-search.png);
}
#header.no-bg .link-area a.link-ticket {
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-schedule-white.png);
}
#header .link-area a.link-ticket {
    right: 40px;
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-schedule.png);
}
#header.no-bg .link-area a.btn-layer-mymega {
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-mymega-white.png);
}
#header .link-area a.btn-layer-mymega {
    right: 0;
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-mymega.png);
}

/* 사이트 맵 */
#header .link-area #btn-sitemap-open {
    display: block;
}
#header .link-area #btn-sitemap-close {
    display: none;
}
.layer-sitemap.on {
    display: none;
}
.layer-sitemap {
    display: none;
    position: absolute;
    left: 0;
    top: 90px;
    z-index: 101;
    width: 100%;
    min-width: 1100px;
    height: 750px;
    overflow: auto;
    background-color: #333;
}

.layer-sitemap .wrap {
    overflow: hidden;
    position: relative;
    width: 1100px;
    height: 100%;
    margin: 0 auto;
}

.layer-sitemap .wrap .link-acc {
    overflow: hidden;
    width: 1px;
    height: 1px;
    position: absolute;
    left: -99999px;
    top: -99999px;
}
.layer-sitemap .wrap .list {
    position: absolute;
    width: 158px;
}
.layer-sitemap .wrap .list .list-depth {
    line-height: 1.1;
}
.layer-sitemap .wrap .tit {
    padding: 50px 0 0 0;
    font-size: 1.4666em;
    color: #fff;
    line-height: 1.1;
}
.layer-sitemap .wrap .list .tit-depth {
    height: 48px;
    color: #fff;
    font-size: 1.2em;
    line-height: 46px;
    text-align: center;
    border-width: 1px 0;
    border-color: rgba(68,68,68,.5);
    border-style: solid;
}
.layer-sitemap .wrap p {
    margin: 0;
    padding: 0;
}
.layer-sitemap .wrap .list.position-1 {
    left: 0;
    top: 97px;
    width: 159px;
}
.layer-sitemap .wrap .list.position-2 {
    left: 189px;
    top: 97px;
}
.layer-sitemap .wrap .list.position-3 {
    left: 377px;
    top: 97px;
}
.layer-sitemap .wrap .list.position-4 {
    left: 565px;
    top: 97px;
}
.layer-sitemap .wrap .list.position-5 {
    left: 753px;
    top: 97px;
}
.layer-sitemap .wrap .list.position-6 {
    left: 941px;
    top: 97px;
    width: 159px;
}

.layer-sitemap .wrap .list.position-7 {
    left: 0;
    top: 368px;
    width: 159px;
}
.layer-sitemap .wrap .list.position-8 {
    left: 189px;
    top: 368px;
}
.layer-sitemap .wrap .list.position-9 {
    left: 377px;
    top: 368px;
}
.layer-sitemap .wrap .list.position-10 {
    left: 565px;
    top: 368px;
}
.layer-sitemap .wrap .list .list-depth li {
    padding: 18px 0 0 0;
    text-align: center;
}
.layer-sitemap .wrap .list .list-depth li a {
    display: inline-block;
    color: #bbb;
}





#gnb ul li {
    margin: 0;
    padding: 0;
}
#gnb>ul>li>a {
    position: absolute;
    top: -38px;
    height: 38px;
    text-indent: -9999px;
    background-position: center 0;
    background-repeat: no-repeat;
}
#header.no-bg {
    background-color: rgba(0,0,0,.3);
    border-bottom: 1px solid rgba(255,255,255,.2);
}
#header.no-bg #gnb {
    background-color: rgba(0,0,0,.2);
}
#gnb {
    height: 0;
}
#gnb>ul {
    position: relative;
    width: 1100px;
    margin: 90px auto 0 auto;
}

a:link {
    color: #444;
    text-decoration: none;
}
a {
    background-color: transparent;
}

ol, ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}



#header.no-bg #gnb>ul>li>a.gnb-txt-movie {
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/gnb/gnb-txt-movie-white.png);
}

#gnb>ul>li>a.gnb-txt-movie {
    width: 30px;
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/gnb/gnb-txt-movie.png);
}

#header.no-bg #gnb>ul>li>a.gnb-txt-reserve {
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/gnb/gnb-txt-reserve-white.png);
}
#gnb>ul>li>a.gnb-txt-reserve {
    width: 30px;
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/gnb/gnb-txt-reserve.png);
}

#header.no-bg #gnb>ul>li>a.gnb-txt-theater {
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/gnb/gnb-txt-theater-white.png);
}
#header.no-bg #gnb>ul>li>a.gnb-txt-store {
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/gnb/gnb-txt-store-white.png);
}
#header.no-bg #gnb>ul>li>a.gnb-txt-benefit {
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/gnb/gnb-txt-benefit-white.png);
}

#gnb>ul>li>a.gnb-txt-theater {
    width: 31px;
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/gnb/gnb-txt-theater.png);
}
#header.no-bg #gnb>ul>li>a.gnb-txt-event {
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/gnb/gnb-txt-event-white.png);
}
#gnb>ul>li>a.gnb-txt-event {
    width: 45px;
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/gnb/gnb-txt-event.png);
}
#gnb>ul>li>a.gnb-txt-store {
    width: 44px;
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/gnb/gnb-txt-store.png);
}
#gnb>ul>li>a.gnb-txt-benefit {
    width: 29px;
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/gnb/gnb-txt-benefit.png);
}

#gnb>ul>li:nth-child(1)>a {
    left: 166px;
}
#gnb>ul>li:nth-child(2)>a {
    left: 256px;
}
#gnb>ul>li:nth-child(3)>a {
    left: 345px;
}
#gnb>ul>li:nth-child(4)>a {
    right: 347px;
}
#gnb>ul>li:nth-child(5)>a {
    right: 241px;
}
#gnb>ul>li:nth-child(6)>a {
    right: 150px;
}

/*gnb 메뉴*/
#gnb .gnb-depth2 {
    position: absolute;
    width: 100%;
    height: 44px;
}
#header.no-bg #gnb>ul>li:nth-child(1) .gnb-depth2 ul {
    background-position: 0 0;
}
#gnb>ul>li:nth-child(1) .gnb-depth2 ul {
    padding-left: 50px;
}
#header.no-bg #gnb>ul>li:nth-child(2) .gnb-depth2 ul {
    background-position: 100px 0;
}
#gnb>ul>li:nth-child(2) .gnb-depth2 ul {
    padding-left: 166px;
}
#header.no-bg #gnb>ul>li:nth-child(3) .gnb-depth2 ul {
    background-position: 180px 0;
}
#gnb>ul>li:nth-child(3) .gnb-depth2 ul {
    padding-left: 300px;
}
#header.no-bg #gnb>ul>li:nth-child(4) .gnb-depth2 ul {
    background-position: 540px 0;
}
#gnb>ul>li:nth-child(4) .gnb-depth2 ul {
    padding-left: 598px;
}
#header.no-bg #gnb>ul>li:nth-child(6) .gnb-depth2 ul {
    background-position: 760px 0;
}
#gnb>ul>li:nth-child(6) .gnb-depth2 ul {
    padding-left: 834px;
}

#gnb .gnb-depth2 ul {
    overflow: hidden;
    display: block;
}

#gnb .gnb-depth2 ul li:first-child {
    margin-left: 0;
}
#gnb .gnb-depth2 ul li {
    display: block;
    float: left;
    margin-left: 19px;
}
#gnb .gnb-depth2 ul li a {
    overflow: hidden;
    display: block;
    height: 44px;
    line-height: 44px;
    color: #fff;
}
#gnb ul li {
    margin: 0;
    padding: 0;
}

/* 호버 적용 */
.gnb-txt-movie + .gnb-depth2  {
    display: none;
}
.gnb-txt-reserve  + .gnb-depth2  {
    display: none;
}
.gnb-txt-theater + .gnb-depth2  {
    display: none;
}
.gnb-txt-event + .gnb-depth2  {
    display: none;
}
.gnb-txt-store + .gnb-depth2  {
    display: none;
}
.gnb-txt-benefit + .gnb-depth2  {
    display: none;
}

.gnb-depth1 li:hover .gnb-txt-movie + .gnb-depth2 {
    display: block;
}
.gnb-depth1 li:hover .gnb-txt-reserve + .gnb-depth2 {
    display: block;
}
.gnb-depth1 li:hover .gnb-txt-theater + .gnb-depth2 {
    display: block;
}
.gnb-depth1 li:hover .gnb-txt-event + .gnb-depth2 {
    display: block;
}
.gnb-depth1 li:hover .gnb-txt-store + .gnb-depth2 {
    display: block;
}
.gnb-depth1 li:hover .gnb-txt-benefit + .gnb-depth2 {
    display: block;
}
.gnb-depth1 li:hover .gnb-txt-movie + .gnb-depth2 {
    display: block;
}


/*메인 영역*/
.container {
    width: 100%;
    min-width: 1100px;
    min-height: 100%;
    margin: -92px 0 -200px 0;
    padding: 92px 0 300px 0;
}
.main-container {
    min-width: 1100px;
    padding-bottom: 200px;
}
.main-container #contents {
    padding-top: 0;
}
#contents {
    width: 100%;
    margin: 0;
    padding: 40px 0 0 0;
}


/*main-section01*/
.main-page {
    overflow: hidden;
    position: relative;
    z-index: 1;
    margin-top: 0;
    background-color: #fff;
}

.main-movie {
    display: block;
    position: relative;
    min-height: 880px;
    padding: 0 0 80px 0;
    background-color: #222;
}

/* content area */
.main-movie .cont-area {overflow:hidden; display:block; position:relative; z-index:3; width:1100px; height:auto; margin:0 auto; padding:0 0 50px 0;}
.main-movie .cont-area .more-movie {display:block; position:absolute; right:0; top:177px; color:#aaa; line-height:16px;}
.main-movie .cont-area .more-movie i {margin-left:4px;}

.tab-sorting {
    margin-top: -10px;
    text-align: center;
}
.main-movie .tab-sorting {
    margin: 159px 0 20px 0;
}

.tab-sorting button {
    position: relative;
    display: inline-block;
    margin: 10px 12px 0 12px;
    padding: 0 0 5px 0;
    border: 0;
    color: #555;
    font-size: 1.0667em;
    font-weight: 400;
    border-bottom: 2px solid #fff;
    background-color: #fff;
}
.main-movie .tab-sorting button.on {
    color: #fff;
    border-bottom: 2px solid rgba(255,255,255,0.2);
}
.tab-sorting button.on {
    color: #351f66;
    border-bottom: 2px solid #503396;
    font-weight: 400;
}
.main-movie .tab-sorting button {
    position: relative;
    display: inline-block;
    margin: 0 18px;
    padding: 0 0 5px 0;
    vertical-align: top;
    color: #aaa;
    border: 0;
    border-bottom: 2px solid transparent;
    background-color: transparent;
}
.ico-more-corss.gray {
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-more-cross-gray.png);
}
.ico-more-corss {
    width: 16px;
    height: 16px;
}
.iconset {
    overflow: hidden;
    display: inline-block;
    margin: -1px 0 0 0;
    padding: 0;
    font-size: 0;
    line-height: 0;
    vertical-align: middle;
    background-position: 0 0;
    background-repeat: no-repeat;
}
/* 박스오피스 시작 */
.main-movie-list > ol li.first {
    margin-left: 0;
}
.main-movie-list > ol:after {
    clear: both;
}
.main-movie-list > ol:before, .main-movie-list > ol:after {
    content: '';
    display: table;
}
.main-movie-list > ol li {
    float: left;
    width: 245px;
    margin-left: 40px;
    padding: 0;
}
.main-movie-list > ol li .movie-list-info {
    overflow: hidden;
    display: block;
    position: relative;
    width: 100%;
    height: 352px;
    border-radius: 5px;
    background-color: #24202b;
}
.main-movie-list > ol li .movie-list-info .screen-type2 {
    position: absolute;
    right: 10px;
    top: 10px;
}
.main-movie-list > ol li .movie-list-info .screen-type2 p {
    display: inline-block;
    margin: 0 0 0 4px;
    padding: 8px;
    border-radius: 3px;
    color: #fff;
    background-color: rgba(0,0,0,0.6);
}
.main-movie-list > ol li .movie-list-info .screen-type2 img {
    display: block;
}
.main-movie-list > ol li .movie-list-info .rank {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 150px;
    color: #fff;
    padding: 10px 0 0 15px;
    line-height: 1.1;
    font-size: 2em;
    font-style: italic;
    font-family: 'Roboto';
    font-weight: 300;
    color: #fff;
    text-shadow: 2px 2px 2px rgb(0 0 0 / 80%);
    background: url(../image/bg-main-movie-rank.png) no-repeat 0 0;
}
.main-page p {
    margin: 0;
    padding: 0;
}
.ir {
    text-indent: -9999px;
    position: fixed;
    top: -9999px;
    font-size: 1px;
    width: 1px;
    height: 1px;
    opacity: 0;
}
.main-movie-list > ol li .movie-list-info img.poster {
    display: block;
    width: 245px;
    height: 352px;
    border-radius: 5px;
}
/* 설명 */
.main-movie-list > ol li .movie-list-info .wrap {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 25px;
    color: #fff;
    background-color: rgba(0,0,0,0.8);
}
/* 관람평 */
.main-movie-list > ol li .movie-list-info .wrap .score {
    overflow: hidden;
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 20px;
    padding: 10px 0 0 0;
    text-align: center;
    border-top: 1px solid #3c3c3c;
    text-align: center;
}
.main-movie-list > ol li .movie-list-info .wrap .score .preview .number {
    float: left;
    font-size: 1.6em;
    color: #59bec9;
}
/* 좋아요 버튼 */
.main-movie-list > ol li .btn-util {
    overflow: hidden;
    position: relative;
    margin-top: 10px;
    padding: 0 0 0 85px;
    text-align: left;
}
.main-movie-list > ol li .btn-util .btn-like {
    position: absolute;
    left: 0;
    top: 0;
    width: 80px;
    height: 36px;
    line-height: 34px;
    margin: 0;
    padding: 0 5px;
    color: #fff;
    font-size: 0.8667em;
    border-color: #555;
    background-color: rgba(0,0,0,0.4);
}
.button {
    display: inline-block;
    height: 36px;
    margin: 0;
    padding: 0 15px;
    text-align: center;
    line-height: 34px;
    color: #503396;
    font-weight: 400;
    border-radius: 4px;
    font-family: NanumBarunGothic,Dotum,'돋움',sans-serif;
    text-decoration: none;
    border: 1px solid #503396;
    vertical-align: middle;
    background-color: #fff;
    cursor: pointer;
}
.main-movie-list > ol li .btn-util .btn-like .ico-heart-toggle-gray {
    background-image: url(../image/ico-heart-toggle-main.png);
}
.button>i:first-child {
    margin-left: 0;
    margin-right: 4px;
}
.button>i {
    margin-top: -2px;
    margin-left: 4px;
}
.ico-heart-toggle-gray {
    width: 17px;
    height: 15px;
    background-image: url(../image/ico-heart-toggle-main.png);
}
.iconset {
    overflow: hidden;
    display: inline-block;
    margin: -1px 0 0 0;
    padding: 0;
    font-size: 0;
    line-height: 0;
    vertical-align: middle;
    background-position: 0 0;
    background-repeat: no-repeat;
}

/*예매*/

.main-movie-list > ol li .btn-util .case .button {
    display: block;
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 4px;
}
.button.gblue {
    color: #fff;
    line-height: 36px;
    border: 0;
    background: #037b94;
}

/*search*/
.main-movie .search-link {overflow:hidden;display:block;height:75px;margin:50px 0 0 0;padding:23px 0 0 0;background-color:rgba(0,0,0,0.2);}
.main-movie .search-link .cell {position:relative; float:left; width:25%; text-align:center; border-left:1px solid #423e3e;}
.main-movie .search-link .cell:first-child {border-left:0;}
.main-movie .search-link .search {position:relative; display:inline-block; width:200px; height:30px; padding:0 30px 0 0; border-bottom:1px solid #423e3e;}
.main-movie .search-link .search .input-text {display:block; width:100%; height:100%; border:0; background-color:transparent; color:#fff;}
.main-movie .search-link .search .input-text::placeholder {color:#aaa; opacity: 1;}
.main-movie .search-link .search .input-text:-ms-input-placeholder {color:#aaa;}
.main-movie .search-link .search .input-text::-ms-input-placeholder {color:#aaa;}
.main-movie .search-link .search .btn {display:block; position:absolute; right:0; top:0; width:30px; height:100%; font-size:0; line-height:0; margin:0; padding:0; border:0; background-color:transparent;}
.main-movie .search-link a {display:inline-block; margin:0; padding:0; line-height:30px; color:#fff;}
.main-movie .search-link a .iconset {margin-top:-2px; margin-right:5px;}

.input-text {
    display: inline-block;
    width: 100%;
    height: 32px;
    padding: 0 10px;
    line-height: 30px;
    color: #444;
    border: 1px solid #d8d9db;
    vertical-align: middle;
    font-family: NanumBarunGothic,Dotum,'돋움',sans-serif;
}



.ico-search-w {
    width: 18px;
    height: 18px;
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-search-white.png);
}

/* moving mouse*/
.main-movie .moving-mouse {
    position: relative;
    width: 100%;
    height: 24px;
    margin: 30px 0 0 0;
    text-align: center;
}








/*background 관련*/
.main-movie .bg {
    content: '';
    overflow: hidden;
    position: absolute;
    z-index: 2;
    width: 100%;
    min-width: 1100px;
    height: 100%;
    margin: 0 auto;
}
.main-movie .bg .bg-pattern {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    background: url(https://www.megabox.co.kr/static/pc/images/movie/bg-movie-detail-pattern.png) repeat 0 0;
}
.main-movie .bg:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(left, rgba(85,63,5,1) 0%, rgba(23,17,1,0) 50%, rgba(85,63,5,1) 100%);
    background: -webkit-linear-gradient(left, rgba(85,63,5,1) 0%, rgba(23,17,1,0) 50%, rgba(85,63,5,1) 100%);
    background: -o-linear-gradient(left, rgba(85,63,5,1) 0%, rgba(23,17,1,0) 50%, rgba(85,63,5,1) 100%);
    background: -ms-linear-gradient(left, rgba(85,63,5,1) 0%, rgba(23,17,1,0) 50%, rgba(85,63,5,1) 100%);
    background: linear-gradient(to right, rgba(85,63,5,1) 0%, rgba(23,17,1,0) 50%, rgba(85,63,5,1) 100%);
}
.main-movie .bg img {
    display: block;
    width: 100%;
    -webkit-filter: blur(20px);
    filter: blur(15px);
    background-color: rgba(3,1,21,0.7);
}

.main-movie .bg:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: rgba(3,1,21,0.7);
}

/*main-section02*/

.main-benefit:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 513px;
    bottom: 0;
    background-color: #503396;
}
.tit-util:after {
    clear: both;
}
.tit-util:after, .tit-util:before {
    content: '';
    display: block;
}
.main-benefit {
    overflow: hidden;
    position: relative;
    /* min-height: 1148px; */
    padding: 0 0 100px 0;
}
.main-benefit .wrap {
    position: relative;
    width: 1100px;
    margin: 0 auto;
    padding: 0;
}
.main-page .tit-util {
    width: 100%;
    padding: 50px 0 0 0;
}
.main-page .tit-util h2.tit {
    padding: 0 0 30px 0;
    font-size: 2em;
    color: #351f66 !important;
}
.tit-util .tit {
    float: left;
    padding: 0!important;
    important: ;
    */eight: 1.1;
}
h2.tit {
    color: #351f66 !important;
}
.tit-util:after {
    clear: both;
}
.tit-util:after, .tit-util:before {
    content: '';
    display: block;
}

/* 슬라이더 */
.main-benefit .slider {
    overflow: hidden;
    position: relative;
    width: 687px;
    height: 325px;
    background-color: #fff;
}
.main-benefit .slider .slider-view {
    position: absolute;
    width: 2000px;
    height: 325px;
    font-size: 0;
    line-height: 0;
}
.main-benefit .slider .slider-view .cell {
    position: relative;
    float: left;
    width: 934px;
    height: 325px;
}
.main-benefit .slider .slider-view .cell .position {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}
.main-benefit .slider .slider-view .cell .position .txt {
    position: absolute;
    left: 0;
    top: 0;
}
.main-benefit .slider .slider-view .cell .position .txt a {
    width: 300px;
    height: 230px;
}
.main-benefit .slider .slider-view .cell .position .bg {
    position: absolute;
    left: 300px;
    top: 0;
}
.main-benefit .slider .slider-view .cell .position a {
    display: block;
}
.main-benefit .slider .slider-view .cell .position .txt a img {
    max-width: 300px;
    max-height: 230px;
}

.main-benefit .slider .slider-control {
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: 42px;
    z-index: 2;
}
.main-benefit .slider .slider-control .page {
    float: left;
    width: 190px;
    height: 2px;
    margin-top: 5px;
    background-color: #ebebeb;
}
element.style {
    width: 11.11111111111111%;
}
.main-benefit .slider .slider-control .page span.on {
    background-color: #503396;
}
.main-benefit .slider .slider-control .page span.on {
    background-color: #503396;
}

/* 더보기 */
.main-page .tit-util .btn-more-cross {
    display: block;
    margin-top: 5px;
}
.btn-more-cross.purple {
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/btn/btn-more-cross-purple.png);
}
.tit-util .btn-more-cross {
    float: right;
}
.btn-more-cross {
    overflow: hidden;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0;
    padding: 0;
    text-indent: -999px;
    border: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
}

.main-benefit .slider .slider-control .util {
    float: left;
    padding: 0 10px 0 15px;
}
.main-benefit .slider .slider-control .util .btn-prev {
    width: 7px;
    background-image: url(../image/btn-benefit-slider-prev.png);
}
.main-benefit .slider .slider-control .util button {
    display: block;
    float: left;
    height: 12px;
    margin-left: 8px;
}
.main-benefit .slider .slider-control button {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 0;
    line-height: 0;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
}
.main-benefit .slider .slider-control .util .btn-next {
    width: 7px;
    background-image: url(../image/btn-benefit-slider-next.png);
}
.main-benefit .slider .slider-control .util button {
    display: block;
    float: left;
    height: 12px;
    margin-left: 8px;
}
.main-benefit .slider .slider-control button {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 0;
    line-height: 0;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
}

.main-benefit .slider .slider-control .util .btn-pause {
    display: block;
    width: 6px;
    background-image: url(../image/btn-benefit-slider-pause.png);
}
.main-benefit .slider .slider-control .util button {
    display: block;
    float: left;
    height: 12px;
    margin-left: 8px;
}
.main-benefit .slider .slider-control button {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 0;
    line-height: 0;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
}

.main-benefit .slider .slider-control .util .btn-play.on {
    display: block;
}
.main-benefit .slider .slider-control .util .btn-play {
    display: none;
    width: 6px;
    background-image: url(../image/btn-benefit-slider-play.png);
}
.main-benefit .slider .slider-control .util button {
    display: block;
    float: left;
    height: 12px;
    margin-left: 8px;
}
.main-benefit .slider .slider-control button {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 0;
    line-height: 0;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
}
.main-benefit .slider .slider-control .page-count {
    float: left;
    line-height: 14px;
}


/* ad */
.main-benefit .brn-ad {
    position: relative;
    min-width: 1100px;
}
.main-benefit .banner:before, .main-benefit .banner:after {
    content: '';
    display: table;
}
.main-benefit .banner .size {
    float: left;
    width: 441px;
    height: 204px;
    font-size: 0;
    line-height: 0;
    border-radius: 5px;
    box-shadow: 10px 10px 10px 0px rgb(0 0 0 / 20%);
}
.main-benefit .banner .size img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.main-benefit .banner .size + .size {
    margin-left: 20px;
}
.main-benefit .banner .size.small {
    display: block;
    float: left;
    width: 204px;
    height: 204px;
}
.main-benefit .banner .size {
    float: left;
    width: 441px;
    height: 204px;
    font-size: 0;
    line-height: 0;
    border-radius: 5px;
    box-shadow: 10px 10px 10px 0px rgb(0 0 0 / 20%);
}
.main-benefit .banner:after {
    clear: both;
}
.main-benefit .banner:before, .main-benefit .banner:after {
    content: '';
    display: table;
}

.main-benefit .ad-img {
    overflow: hidden;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 415px;
    height: 530px;
    font-size: 0;
    line-height: 0;
    border-radius: 5px;
}
iframe {
    display: inline-block;
    border: 0;
}

/* menu-link */

.main-benefit .menu-link {
    overflow: hidden;
    padding: 50px 0 0 0;
}
.main-benefit .menu-link .cell {
    float: left;
    width: 20%;
}
.main-benefit .menu-link .vip a {
    background-image: url(../image/ico-vip-main.png);
    background-position: center 2px;
}
.main-benefit .menu-link .membership a {
    background-image: url(../image/ico-membership-main.png);
    background-position: center 0;
}
.main-benefit .menu-link .card a {
    background-image: url(../image/ico-card-main.png);
    background-position: center 5px;
}
.main-benefit .menu-link .event a {
    background-image: url(../image/ico-event-main.png);
    background-position: center 0;
}
.main-benefit .menu-link .store a {
    background-image: url(../image/ico-store-main.png);
    background-position: center 0;
}
.main-benefit .menu-link a {
    display: block;
    padding: 60px 0 0 0;
    text-align: center;
    color: #fff;
    text-decoration: none;
    background-repeat: no-repeat;
}

/* main-section03*/
.main-curation {
    display: block;
    position: relative;
    min-height: 840px;
    padding: 0;
    background-color: #252451;
}
.main-curation .wrap {
    position: relative;
    z-index: 3;
    width: 1100px;
    margin: 0 auto;
}
.main-curation .wrap .tit-util {
    padding-bottom: 40px;
}
.main-page .tit-util {
    width: 100%;
    padding: 50px 0 0 0;
}
.tit-util:after, .tit-util:before {
    content: '';
    display: block;
}
.main-curation .wrap .tit-util .tit {
    padding: 0;
    color: #fff !important;
}
.main-page .tit-util h2.tit {
    padding: 0 0 30px 0;
    font-size: 2em;
    color: #351f66 !important;
}
.tit-util .tit {
    float: left;
    padding: 0!important;
    line-height: 1.1;
}
.main-curation .wrap .tit-util .right {
    padding-top: 5px;
}
.tit-util .right {
    float: right;
}
.main-curation .wrap .tit-util .right a {
    color: #aaa;
    vertical-align: middle;
}
.tit-util .right a {
    display: inline-block;
}
.main-curation .wrap .tit-util .right .iconset {
    margin-top: -4px;
    margin-left: 5px;
}
.ico-more-corss.gray {
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-more-cross-gray.png);
}
.ico-more-corss {
    width: 16px;
    height: 16px;
}
.iconset {
    overflow: hidden;
    display: inline-block;
    margin: -1px 0 0 0;
    padding: 0;
    font-size: 0;
    line-height: 0;
    vertical-align: middle;
    background-position: 0 0;
    background-repeat: no-repeat;
}
.tit-util:after {
    clear: both;
}
.tit-util:after, .tit-util:before {
    content: '';
    display: block;
}
.main-curation .wrap .curr-img {
    position: absolute;
    z-index: 1;
    width: 100%;
    padding: 0 0 0 0;
}
.main-curation .wrap .curr-img .bage.classic {
    background: url(../images/main/bg-bage-curation-classic.png) no-repeat 0 0;
}
.main-curation .wrap .curr-img .bage {
    position: absolute;
    left: 0;
    top: -10px;
    z-index: 2;
    display: block;
    width: 123px;
    height: 135px;
    font-size: 0;
    line-height: 0;
}
.main-page p {
    margin: 0;
    padding: 0;
}
.main-curation .wrap .curr-img .img {
    padding-left: 20px;
    font-size: 0;
    line-height: 0;
}
.main-curation .wrap .curr-img .img a {
    display: block;
    width: 300px;
    height: 430px;
    background: rgba(0, 0, 0,0.5) url(../images/common/ico/ico-img-none.png) no-repeat center;
    background-size: 48px 48px;
    border-radius: 15px;
}
.main-curation .wrap .curr-img .img a img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}


.main-curation .wrap .curr-img .btn-group {
    width: 300px;
    margin: 0 0 0 20px;
    padding: 10px 0 0 0;
}
.btn-group {
    padding: 20px 0 30px 0;
    margin: 0;
    text-align: center;
}
.btn-group:after, .btn-group:before {
    content: '';
    display: table;
}
.main-curation .wrap .curr-img .btn-group .left {
    width: calc(50% - 5px);
}
.btn-group .left {
    float: left;
}
.main-curation .wrap .curr-img .btn-group .left .button {
    color: #fff;
    border-color: #fff;
    background-color: transparent;
}
.main-curation .wrap .curr-img .btn-group .button {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 48px;
    font-size: 1.3333em;
    padding: 0;
}
.btn-group .button {
    margin: 0 3px;
}

.main-curation .wrap .curr-img .btn-group .right {
    width: calc(50% - 5px);
}
.btn-group .right {
    float: right;
}
.main-curation .wrap .curr-img .btn-group .button {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 48px;
    font-size: 1.3333em;
    padding: 0;
}


* {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
body {
    overflow: auto;
    overflow-y: scroll;
    letter-spacing: 0;
    line-height: 1.5;
    font-size: 15px;
    color: #444;
    font-weight: 400;
    font-family: NanumBarunGothic,Dotum,'돋움',sans-serif;
}
html {
    -webkit-text-size-adjust: 100%;
}
.main-curation .wrap .curr-img .info .txt {
    display: block;
    margin-left: 0;
    padding: 0 0 10px 0;
    font-size: 1.3333em;
    line-height: 1.1;
}
.main-page p {
    margin: 0;
    padding: 0;
}
.main-curation .wrap .curr-img .info .txt {
    display: block;
    margin-left: 0;
    padding: 0 0 10px 0;
    font-size: 1.3333em;
    line-height: 1.1;
}
.main-curation .wrap .curr-img .info {
    position: absolute;
    left: 370px;
    top: 0;
    width: calc(100% - 370px);
    color: #fff;
}
.main-curation .wrap .curr-img .info.classic .tit {
    border-bottom: 1px solid #474681;
}
.main-curation .wrap .curr-img .info .tit {
    overflow: hidden;
    display: block;
    margin-left: 0;
    padding: 0 0 30px 0;
    font-size: 2.4em;
    line-height: 1.1;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.main-curation .wrap .curr-img .info .summary {
    overflow: hidden;
    height: 192px;
}
.main-curation .wrap .list {
    padding: 310px 0 0 370px;
}
.main-curation .wrap .list ul {
    position: relative;
    z-index: 3;
}
.main-curation .wrap .list ul:before, .main-curation .wrap .list ul:after {
    content: '';
    display: table;
}
.main-curation .wrap .list ul li:first-child {
    margin-left: 0;
}
.main-curation .wrap .list ul li {
    float: left;
    width: 170px;
    margin-left: 16px;
}
.main-curation .wrap .list ul li a {
    display: block;
    position: relative;
    color: #fff;
    text-decoration: none;
    background-size: 0 0;
}
.main-curation .wrap .list ul li a .bage.film {
    background-image: url(../image/bg-bage-curation-film-m.png);
}
.main-curation .wrap .list ul li a .bage {
    position: absolute;
    left: 10px;
    top: -5px;
    display: block;
    width: 35px;
    height: 50px;
    font-size: 0;
    line-height: 0;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 35px auto;
}
.main-page p {
    margin: 0;
    padding: 0;
}
.main-curation .wrap .list ul li a .img {
    overflow: hidden;
    width: 170px;
    height: 244px;
    border-radius: 10px;
    background: rgba(0,0,0,0.5) url(../image/ico-img-none.png) no-repeat center;
    background-size: 48px 48px;
}
.main-curation .wrap .list ul li a .tit {
    overflow: hidden;
    display: block;
    width: 100%;
    padding: 10px 0 0 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
}
.main-curation .wrap .list ul li a .summary {
    overflow: hidden;
    width: 1px;
    height: 1px;
    font-size: 1px;
    line-height: 0;
    opacity: 0;
}
/*main-section04*/
.main-info h2.tit {
    display: block;
    width: 1100px;
    margin: 0 auto;
    padding: 50px 0 40px 0;
}
h2.tit {
    color: #351f66 !important;
}
h2.tit {
    padding: 0 0 26px 0;
    font-size: 1.8666em;
    font-weight: 400;
    letter-spacing: -1px;
    line-height: 1.1;
    color: #222;
}
.main-info .info-special {
    display: block;
    width: 1100px;
    margin: 0 auto;
    text-align: center;
}
.main-info .info-special a.bg-dolby {
    position: relative;
    background-image: url(../image/bg-main-megainfo-dolby.png);
}
.main-info .info-special a:first-child {
    margin-left: 0;
}
.main-info .info-special a {
    overflow: hidden;
    display: block;
    float: left;
    width: 170px;
    height: 170px;
    margin: 0 0 0 16px;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
    border-radius: 10px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 170px 340px;
    box-shadow: 5px 5px 10px 0px rgb(0 0 0 / 20%);
}
.main-info .info-special a.bg-private {
    background-image: url(../image/bg-main-megainfo-private.png);
}
.main-info .info-special a.bg-boutique {
    background-image: url(../image/bg-main-megainfo-boutique.png);
}
.main-info .info-special a.bg-mx {
    background-image: url(../image/bg-main-megainfo-mx.png);
}
.main-info .info-special a.bg-comfort {
    background-image: url(../image/bg-main-megainfo-comfort.png);
}
.main-info .info-special a.bg-kids {
    background-image: url(../image/bg-main-megainfo-kids.png);
}


/*info-notice*/
.main-info {
    padding: 0 0 50px 0;
}


.main-info .info-notice {
    margin-top: 50px;
    border: 1px solid #e2e2e2;
    border-width: 1px 0;
}
.main-info .info-notice .wrap {
    display: block;
    position: relative;
    width: 1100px;
    margin: 0 auto;
    padding: 0 175px 0 95px;
}
.main-info .info-notice .wrap .tit {
    position: absolute;
    left: 0;
    top: 0;
    color: #222;
    font-weight: 400;
}

.main-info .info-notice .wrap .link {
    position: relative;
}
.main-info .info-notice .wrap .link a {
    overflow: hidden;
    display: inline-block;
    color: #222;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.main-info .info-notice .wrap .link a strong {
    color: #01738b;
}
.main-info .info-notice .wrap .date {
    position: absolute;
    right: 85px;
    top: 0;
    color: #666;
    font-family: 'Roboto';
}
.main-info .info-notice .wrap > p {
    height: 60px;
    line-height: 60px;
}
.main-info .info-notice .wrap .more {
    position: absolute;
    right: 0;
    top: 0;
    width: 70px;
    text-align: right;
    color: #222;
}
.main-info .info-notice .wrap .link:before {
    content: '';
    display: block;
    position: absolute;
    left: -20px;
    top: 50%;
    width: 1px;
    height: 14px;
    margin-top: -7px;
    background-color: #e2e2e2;
}
.main-info .info-notice .wrap:after {
    clear: both;
}
.main-info .info-notice .wrap:before, .main-info .info-notice .wrap:after {
    content: '';
    display: table;
}
.main-info .info-notice .wrap .more:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    width: 1px;
    height: 14px;
    margin-top: -7px;
    background-color: #e2e2e2;
}
.main-info .info-link:before, .main-info .info-link:after {
    content: '';
    display: table;
}
.main-info .info-link:after {
    clear: both;
}
.main-info .info-link:before, .main-info .info-link:after {
    content: '';
    display: table;
}
.main-info .info-notice .wrap .more .iconset {
    margin-top: -3px;
    margin-left: 5px;
}
.ico-arr-right-gray {
    overflow: hidden;
    width: 7px;
    height: 12px;
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-arr-right-gray.png);
}



/* info link */
.main-info .info-link {
    display: block;
    width: 1100px;
    margin: 0 auto;
    padding: 50px 0;
}
.main-info .info-link .table {
    display: table;
    width: 100%;
    table-layout: fixed;
}
.main-info .info-link .table .cell:first-child {
    width: 16.7%;
}
.main-info .info-link .table .cell {
    display: table-cell;
    width: 16.6%;
    text-align: center;
    vertical-align: middle;
}
.main-info .info-link .table .cell a {
    display: inline-block;
    color: #222;
}
.main-info .info-link .table .cell a i {
    display: block;
    margin: 0 auto;
}
.main-info .info-link .table .cell a span {
    display: block;
    margin: 0 auto;
    padding: 10px 0 0 0;
    line-height: 1.3;
}
.ico-main-customer {
    width: 46px;
    height: 46px;
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-main-customer.png);
}
.ico-main-faq {
    width: 50px;
    height: 46px;
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-main-faq.png);
}
.ico-main-qna {
    width: 43px;
    height: 43px;
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-main-qna.png);
}
.ico-main-group {
    width: 50px;
    height: 38px;
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-main-group.png);
}
.ico-main-lost {
    width: 51px;
    height: 39px;
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-main-lost.png);
}
.ico-main-boutique {
    width: 48px;
    height: 40px;
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-main-boutique.png);
}

/* 하단 ad*/
.main-bottom-ad {
    overflow: hidden;
    width: 100%;
    height: 227px;
    margin: 0 auto;
    color: #fff;
    text-align: center;
}
.main-bottom-ad iframe {
    display: block;
    margin: 0 auto;
}

/* footer */
#footer {
    position: relative;
    min-width: 1100px;
    width: 100%;
    height: 200px;
    margin: 0;
    padding: 0;
    background-color: #f8f8fa;
}
#footer {
    position: relative;
    min-width: 1100px;
    width: 100%;
    height: 200px;
    margin: 0;
    padding: 0;
    background-color: #f8f8fa;
}
.inner-wrap:after, .inner-wrap:before {
    content: '';
    display: table;
}
.inner-wrap {
    width: 1100px;
    margin: 0 auto;
}
#footer .footer-top {
    overflow: hidden;
    width: 1100px;
    margin: 0 auto;
    padding: 30px 0;
}
#footer .footer-top .fnb {
    float: left;
}
#footer .footer-top .fnb li:first-child {
    margin-left: 0;
}
#footer .footer-top .fnb li {
    float: left;
    margin-left: 14px;
}
#footer .footer-top .fnb li a {
    display: block;
    color: #666;
    line-height: 30px;
    font-size: .8667em;
}
#footer .footer-top .btn-looking-theater {
    overflow: hidden;
    float: right;
    display: block;
    width: 106px;
    height: 30px;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 28px;
    color: #666;
    font-size: .8667em;
    border: 1px solid #d8d9db;
    border-radius: 30px;
    text-decoration: none;
}
#footer .footer-top .btn-looking-theater i {
    margin-right: 4px;
}
.ico-footer-search {
    width: 15px;
    height: 15px;
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-footer-search.png);
}




#footer .footer-bottom {
    overflow: hidden;
    width: 1100px;
    margin: 0 auto;
    padding: 0;
}
#footer .footer-bottom .ci {
    overflow: hidden;
    display: block;
    float: left;
    width: 150px;
    height: 50px;
    margin: 0 20px 0 0;
    padding: 0;
    text-indent: -9999px;
    background: url(https://img.megabox.co.kr/static/pc/images/common/ci/logo-opacity.png) no-repeat center;
}
#footer .footer-bottom .footer-info {
    float: left;
    font-size: .8667em;
    letter-spacing: 0;
}
#footer .footer-bottom .footer-info address {
    display: inline-block;
    vertical-align: top;
}
address {
    margin: 0;
    padding: 0;
    font-style: normal;
}
#footer .footer-bottom .footer-info p {
    display: inline-block;
    vertical-align: top;
}
#footer p {
    margin: 0;
    padding: 0;
}
#footer .footer-bottom .footer-info p.copy {
    display: block;
}
#footer .footer-bottom .footer-sns {
    float: right;
}
#footer .footer-bottom .footer-sns a {
    display: block;
    float: left;
    width: 32px;
    height: 30px;
    margin-left: 5px;
    font-size: 0;
    line-height: 0;
}
#footer .footer-bottom .footer-sns a i {
    display: block;
    margin: 0;
}
.ico-twitter {
    width: 31px;
    height: 30px;
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-twitter.png);
}
.ico-facebook {
    width: 32px;
    height: 30px;
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-facebook.png);
}
.ico-instagram {
    width: 32px;
    height: 30px;
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-instagram.png);
}
.ico-googleplay {
    width: 32px;
    height: 30px;
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-googleplay.png);
}
.ico-appstore {
    width: 31px;
    height: 30px;
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-appstore.png);
}
.inner-wrap:after {
    clear: both;
}

.inner-wrap:after, .inner-wrap:before {
    content: '';
    display: table;
}





button {
    cursor: pointer;
    letter-spacing: -.5px;
    font-weight: 400;
    font-family: NanumBarunGothic,Dotum,'돋움',sans-serif;
}
* {
    box-sizing: border-box;
}

a {
    background-color: transparent;
}

html {
    -webkit-text-size-adjust: 100%;
}



